.ingredients {
  margin-top: 5rem;
  background: transparent;
}

.shopify-section{
  position: relative;
}

.ingredients:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background: rgb(var(--color-base-background-2));  
}

.ingredients:not(.color-scheme-background-1) {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .ingredients {
    margin-bottom: 5rem;
  }
}

.ingredients .grid {
  margin-left: 0;
  margin-bottom: 0;
  background: transparent;
}

.ingredients__grid {
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .ingredients__grid--reverse {
    flex-direction: row-reverse;
  }
}

.ingredients__media {
  background-color: transparent;
  position: relative;
}

.ingredients__media .media{
  top: 10px;
  left: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.ingredients__media .media img{
  max-width: 400px;
  height: auto;
  position: relative;
}

.ingredients__media--small {
  height: 19.4rem;
}

.ingredients__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .ingredients__media--small {
    height: 31.4rem;
  }

  .ingredients__media--large {
    height: 69.5rem;
  }
}

.ingredients__media--placeholder {
  background-color: rgba(var(--color-foreground), 0.04);
  position: relative;
  overflow: hidden;
}

.ingredients__media--placeholder.ingredients__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .ingredients__media--placeholder.ingredients__media--adapt {
    height: 30rem;
  }
}

.ingredients__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.ingredients__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  padding: 4rem 4rem 5rem;
}

@media screen and (min-width: 750px) {
  .ingredients__grid--reverse .ingredients__content {
    margin-left: auto;
  }
}

@media screen and (min-width: 990px) {
  .ingredients__content {
    padding: 6rem 7rem 7rem;
  }
}

.ingredients__content > * + * {
  margin-top: 2rem;
}

.ingredients__content > .ingredients__text:empty ~ a {
  margin-top: 2rem;
}

.ingredients__content > :first-child:is(.ingredients__heading) {
  margin-top: 0;
}

.ingredients__content :last-child:is(.ingredients__heading) {
  margin-bottom: 0;
}

.ingredients__content .button + .ingredients__text {
  margin-top: 2rem;
}

.ingredients__content .ingredients__text + .button {
  margin-top: 3rem;
}

.ingredients__heading {
  margin-bottom: 0;
}

.ingredients__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}
